/target

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

hist-search.txt
.hist.txt
_azadi_work/

packaging/build/
packaging/dist/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
