# Maintainer: {{ maintainer_name }} <{{ maintainer_email }}>
pkgname={{ package_name }}
pkgver={{ version }}
pkgrel=1
pkgdesc="{{ description }}"
arch=({% for arch in architectures %}'{{ arch }}'{% if not loop.last %} {% endif %}{% endfor %})
url="{{ repo_url }}"
license=('{{ license }}')
depends=({% for dep in dependencies %}'{{ dep }}'{% if not loop.last %} {% endif %}{% endfor %})
makedepends=('rust' 'cargo')
source=("$pkgname-$pkgver.tar.gz::$url/archive/v$pkgver.tar.gz")
sha512sums=('{{ sha512sum }}')

build() {
    cd "$srcdir/$pkgname-$pkgver"
    cargo build --release
}

package() {
    cd "$srcdir/$pkgname-$pkgver"
    install -Dm755 "target/release/$pkgname" "$pkgdir/usr/bin/$pkgname"
    install -Dm644 LICENSE "$pkgdir/usr/share/licenses/$pkgname/LICENSE"
    install -Dm644 README.md "$pkgdir/usr/share/doc/$pkgname/README.md"
}
