# packaging/templates/arch.jinja2
# Maintainer: {{ metadata.maintainer }}
pkgname={{ metadata.package_name }}
pkgver={{ metadata.version }}
pkgrel=1
pkgdesc="{{ metadata.description }}"
arch=({% for arch in config.arch %}'{{ arch }}'{% if not loop.last %} {% endif %}{% endfor %})
url="{{ metadata.repo_url }}"
license=('{{ metadata.license }}')
depends=({% for dep in config.dependencies.arch %}'{{ dep }}'{% if not loop.last %} {% endif %}{% endfor %})
makedepends=('rust' 'cargo')
source=("$pkgname-$pkgver.tar.gz::$url/archive/v$pkgver.tar.gz")
sha512sums=('{{ metadata.sha512sum }}')

build() {
    cd "$srcdir/$pkgname-$pkgver"
    cargo build --release
}

package() {
    cd "$srcdir/$pkgname-$pkgver"
    install -Dm755 "target/release/$pkgname" "$pkgdir/usr/bin/$pkgname"
    install -Dm644 LICENSE "$pkgdir/usr/share/licenses/$pkgname/LICENSE"
    install -Dm644 README.md "$pkgdir/usr/share/doc/$pkgname/README.md"
}
