# packaging/templates/cargo.deb.toml.jinja2
[package.metadata.deb]
maintainer = "{{ metadata.maintainer }}"
copyright = "2024, {{ metadata.maintainer }}"
license-file = ["LICENSE", "4"]
extended-description = """
{{ metadata.description }}
"""
depends = "$auto"
section = "devel"
priority = "optional"
assets = [
    ["target/release/{{ metadata.package_name }}", "usr/bin/", "755"],
    ["README.md", "usr/share/doc/{{ metadata.package_name }}/README.md", "644"],
    ["LICENSE", "usr/share/doc/{{ metadata.package_name }}/", "644"]
]
