Name: {{ package_name }}
Version: {{ version }}
Release: 1%{?dist}
Summary: {{ description }}

License: {{ license }}
URL: {{ repo_url }}
Source0: %{url}/archive/v%{version}.tar.gz

BuildRequires: cargo
{% if dependencies %}
Requires: {{ dependencies|join(', ') }}
{% endif %}

%description
{{ description }}

%prep
%autosetup

%build
cargo build --release

%install
install -Dm755 target/release/%{name} %{buildroot}%{_bindir}/%{name}
install -Dm644 LICENSE %{buildroot}%{_datadir}/licenses/%{name}/LICENSE
install -Dm644 README.md %{buildroot}%{_datadir}/doc/%{name}/README.md

%files
%license LICENSE
%doc README.md
%{_bindir}/%{name}
