# packaging/templates/void.jinja2
# Template file for '{{ metadata.package_name }}'
pkgname={{ metadata.package_name }}
version={{ metadata.version }}
revision=1
build_style=cargo
short_desc="{{ metadata.description }}"
maintainer="{{ metadata.maintainer }}"
license="{{ metadata.license }}"
homepage="{{ metadata.homepage }}"
distfiles="${homepage}/archive/v${version}.tar.gz"
checksum="{{ metadata.sha256sum }}"

post_install() {
    vlicense LICENSE
}
