# Template file for '{{ package_name }}'
pkgname={{ package_name }}
version={{ version }}
revision=1
build_style=cargo
short_desc="{{ description }}"
maintainer="{{ maintainer }}"
license="{{ license }}"
homepage="{{ homepage }}"
distfiles="${homepage}/archive/v${version}.tar.gz"
checksum="{{ checksum }}"  {# SHA256 checksum of the release tarball #}

post_install() {
	vlicense LICENSE
}
